/* ikiwiki local style sheet */
/* Add local styling here, instead of modifying style.css. */
body {
	color: #222;
	background: #eee;

}
a {color: #2B73B7;}
.actions {
	margin-left: 25%;
	background: #fff;
	display: table;
	border-radius: 0.5em 0.5em 0 0;
	z-index: 10;
}
.actions a {
	display: inline-block;
	border: 0.1px;
}
.actions li {
	display: inline-table;
}
.sidebar {
	float: left;
	width: 20%;
	background: none;
	border: 0;
	margin: 0 0.5em;
	padding: 0;
}
.createlink {
	color: red;
}
.sidebar ul {
	padding-left: 1em;
}
.pageheader .actions ul {
	border: 0;
}
#content {
	background: #fff;
	display: table;
	padding: 0 1% 1%;
	border-radius: 0.5em;
	z-index: 5;
	min-width: 30%;
}
